<p style="color: green"><%= notice %></p>

<h1>Beer club list</h1>

<div id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
    <p>
      Name:
      <%= link_to beer_club.name, beer_club %>
    </p>

    <p>
      Founded:
      <%= beer_club.founded %>
    </p>
  <% end %>
</div>

<%= link_to "New beer club", new_beer_club_path if current_user %>
