<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %> </p>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %> <%= button_to 'delete', rating_path(rating.id), method: :delete, 
    form: { data: {'turbo-confirm': 'Are you sure you want to delete this rating?'} } %> </li>
  <% end %>
</ul>

<p> <%= link_to 'create new rating', new_rating_path %> </p>