<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %> </p>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= render rating %></li>
  <% end %>
</ul>

<p> <%= link_to 'create new rating', new_rating_path if current_user %> </p>